* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f7fa;
}

.banner {
  background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner h1 {
  font-size: 42px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.banner p {
  font-size: 18px;
  opacity: 0.9;
}

.services {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding: 60px 80px;
}

.service-card {
  background: rgb(229, 243, 252);;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(50px);
}

.service-card img {
  width: 80px;
  margin-bottom: 15px;
}

.service-card h3 {
  color: #0066cc;
  font-size: 20px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #004999;
  transform: scale(1.05);
}

.footer {
  background-color: #cfe2ff;
  color: #0d6efd;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

.footer-container p {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}